#OS Cruft
.DS_Store
Thumbs.db

# Compiled class file
# Log files
*.log

# Archives
*.war
# Misc
*.sso

# Unwanted directories
classes/
deploy/
*.cdi_javac
Model/classes/
deploy/WPPlanningBoard_application1.ear
*.png
ViewController/classes/
Model/classes/.data/Model.cdi_javac
ViewController/deploy/WPPlanningBoard_ViewController_webapp1.war
